@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-buttons {
    display: flex;
    align-items: center; 
    font-weight: 700;
    padding: 0.25rem /* 4px */;
    gap: 0.5rem /* 8px */;
}

.sidebar-buttons:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    border-radius: 0.75rem;
}

.project-hero {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    background-color: white;
    margin-bottom: 1%;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
}
.project-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.right-container {
    display: flex;
    gap: 0.5rem; 
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    border-radius: 0.5rem;
}

.todo-objects {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 22.5rem;
    gap: 1rem;
}